@charset "utf-8";
/* CSS Document */


/*Início Pagína*/




#azul{
	background-color: #0000ff;
	height: 120px;
}

#vermelho{
	/*background-color: #ff0000;*/
	height: 67px;
	
}

#preto{
	/*background-color: #000000;*/
	min-height:400px;
}

#amarelo{
	/*background-color: #ffff00;*/
	min-height:1580px;
}

#verde{
	/*background-color: #00ff00;*/
	min-height:100px;
}

@media screen and (max-width:500px){
	#azul{
		heigth:60px !important;
	}
	
	#vermelho{
		heigth:40px !important;
		
	}
}

/* Fim Página*/

.titulo{
	width: 270px;
	font-family: Arial;
	font-size: 30px;
	padding: 40px 0px 0px 0px;
	margin: 0 auto;
		
		
}

.logo{
	z-index:99;
	width:50px;
	heigth:50px;
	background: pink;
}


/*Conteúdo da página*/


.menu_acesso {
        margin: 0px 0px 0px 170px;
        }    

.card {
    margin: 30px 0px 0px 440px;
}


img.rounded {
    padding: 0px 0px 0px 20px;
}



/*Fim Conteúdo da página*/




/*Footer*/


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

form {
    		    
                background: linear-gradient(gray,white);
    			margin: auto;
    			padding: 1em;
   				border-radius: 10px;
		}


 input {
    
    
}



.menu_acesso {
        margin: 0px 0px 0px 170px;
        }    

.card {
    margin: 30px 0px 0px 440px;
}


img.rounded {
    padding: 0px 0px 0px 20px;
}



button.dropbtn {
     margin: 7px 0px 0px 0px;
    font-size: 13px;
    
}


.dropbtn {
       background: rgba(0,0,0,0);
       font-family: sans-serif;
       font-weight: bold;
       color: #A6A6A6;
       padding: 15px;
       padding-top: 0px;
       padding-left:5px; 
       font-size: 16px;
       border: none;
       width: 100%;
       height: 36px !important;
    }
    
    .dropdown {
     position: relative;
     display: inline-block;
    }
    
    .dropdown-content {
     display: none;
      position: absolute;
     background-color: #f1f1f1;
     min-width: 169px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
    } 
    .dropdown-content a {
     color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content a:hover {background-color: #ddd;}
    .dropdown:hover .dropdown-content {display: block;}
   
        





